<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- 添加注解支持 -->
	<context:annotation-config />
	
	<!-- 扫描server层包 -->
	<context:component-scan base-package="net.onest.server"></context:component-scan>
 
	<!-- 导入数据库连接信息的属性文件 -->
	<context:property-placeholder location="classpath:db.properties" />

    <!-- 配置数据源:使用MyBatis定义的数据库连接池（也可以使用第三方数据库连接池如：C3P0） -->
    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>
    
    <!-- 配置SqlSessionFactoryBean：用来创建SqlSessionFactory对象 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 配置MyBatis的XML配置文件的位置 -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!-- 配置数据源：必选项（使用了已经配置好的dataSource） -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置MyBatis所有的映射文件的位置 -->
        <property name="mapperLocations" value="classpath:net/onest/server/dao/*.xml"/>
    </bean>
    
    <!-- 自动扫描所有的映射器接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 配置映射器接口所在的包 -->
        <property name="basePackage" value="net.onest.server.dao"></property>
    </bean>

</beans>
